[submodule ".registry"]
	path = .registry
	url = https://github.com/uclouvain-cbio/universe
	branch = HEAD
[submodule "rWSBIM1207"]
	path = rWSBIM1207
	url = https://github.com/UCLouvain-CBIO/rWSBIM1207
[submodule "rWSBIM1322"]
	path = rWSBIM1322
	url = https://github.com/UCLouvain-CBIO/rWSBIM1322
[submodule "rWSBIM2122"]
	path = rWSBIM2122
	url = https://github.com/UCLouvain-CBIO/rWSBIM2122
